/* The naming convention is to include the name of the module. */ 
/* stylelint-disable selector-class-pattern */
.MMM-Anycubic .left-column {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.MMM-Anycubic .right-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.MMM-Anycubic .photo {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

.MMM-Anycubic .symbol {
  margin-right: 10px;
}

.MMM-Anycubic .symbol-second {
  margin-left: 30px;
}

.MMM-Anycubic .project-row {
  margin-top: 20px;
}
/* stylelint-enable selector-class-pattern */
